<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
    {% for e in emp %}
        <h3> {{e.name}}   </h3>
        <p> {{e.points}}   </p>
        <p> {{e.designation}}   </p>
        <a href="{% url 'single_log' e.id %}">Detailed logs</a> <br>
    {% endfor %}
    <br>
    <a href="{% url 'logger' %}">Logs</a> <br>
    <a href="{% url 'show' %}">Go back</a>
</body>
</html>