{% extends "basic_user/base.html" %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br>
    <div class="border-top pt-3">
        <small class = "text-muted">
            Need an Account? <a class= "ml-2" href = "/signup/"> Sign In</a>
        </small>

    </div>
    <p><strong>- OR -</strong></p>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    <!-- <a href="https://www.facebook.com/v9.0/dialog/oauth?client_id=407567484013229&redirect_uri=http://localhost:8000/logs">Login with Facebook</a> -->
    <!-- {client_id=407567484013229}
    &redirect_uri={redirect-uri}
    &state={state-param} -->

{% endblock content %}