{% extends "basic_user/base.html" %}
{% block content %}
<form method = 'GET' action="" method="get">
    <input name="q" type = "text" placeholder="Search" value="{{ request.GET.q }}"/>
    <input type = "submit" value = "Search" />
</form> <br>
        {% for houses in house %} 
            <div>
                <h3>({{ forloop.counter }}) {{houses.name}}</h3> 
            </div>
            <div>
                <img  height="350"  width="275"  src="{{houses.pic.url}}"><br>
            </div>
            <div>
                <h3>House Points: {{houses.point}}</h3> 
            </div>
            <div>
                <a href="{% url 'details' houses.id %}">Details</a>
            </div>
            <br>
            <br>
        {% endfor %}
{% endblock content %}